.app {
  &-header {
    display: flex;

    &_form {
      width: 80%;
    }

    &_buttons {
      width: 20%;

      .mat-flat-button {
        height: 50%;
      }
    }
  }

  &-table {
    width: 100%;

    &-cell {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  &-viewer {
    transition: all 0.3s ease;
  }

  .mat-form-field,
  .mat-flat-button {
    width: 100%;
  }

  .mat-form-field-underline {
    position: unset;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-icon {
    cursor: pointer;
  }

  td.mat-cell,
  th.mat-header-cell {
    border: 1px solid rgba(255,255,255,.12);
  }

  td.mat-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    padding: 0;
  }
}
