.app {
  &-form {
    display: flex;
  }

  &-table {
    width: 100%;

    &-cell {
      display: flex;
      align-items: center;
    }
  }

  &-models {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;

    .mat-progress-spinner {
      position: absolute;
      padding-right: 30px;
    }
  }

  .mat-form-field,
  .mat-flat-button {
    width: 100%;
  }

  .mat-form-field-underline {
    position: unset;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-icon {
    cursor: pointer;
    margin-left: 20px;
  }
}
