<div class="app-header">
  <app-form
    class="app-header_form"
    [(appForm)]="_appForm"
    (parePartsChange)="_pareParts = $event"
  ></app-form>

  <div class="app-header_buttons">
    <button
      mat-flat-button
      color="warn"
      (click)="_calculateClicked()"
    >Рассчитать</button>
    <button
      mat-flat-button
      color="primary"
      (click)="_exportExcel()"
    >Экспорт Excel</button>
  </div>
</div>


<!--<div class="app-form">-->
<!--  <form>-->
<!--    <mat-form-field-->
<!--      appearance="fill">-->
<!--      <mat-label>Марка</mat-label>-->
<!--      <input-->
<!--        type="text"-->
<!--        matInput-->
<!--        [formControl]="_markasControl"-->
<!--        [matAutocomplete]="auto"-->
<!--      >-->
<!--      <mat-autocomplete #auto="matAutocomplete" [displayWith]="_displayFn">-->
<!--        <mat-option *ngFor="let marka of _filteredMarkas | async" [value]="marka">-->
<!--          {{marka.text}}-->
<!--        </mat-option>-->
<!--      </mat-autocomplete>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field-->
<!--      appearance="fill">-->
<!--      <mat-label>Запчасти</mat-label>-->
<!--      <input-->
<!--        type="text"-->
<!--        matInput-->
<!--        [formControl]="_parePartsControl"-->
<!--        [matAutocomplete]="auto"-->
<!--      >-->
<!--      <mat-autocomplete #auto="matAutocomplete" [displayWith]="_displayFn">-->
<!--        <mat-select multiple>-->
<!--          <mat-option *ngFor="let parePart of _filteredPareParts | async" [value]="parePart">-->
<!--            {{parePart.text}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-autocomplete>-->
<!--    </mat-form-field>-->
<!--  </form>-->
<!--</div>-->

<table
  mat-table
  id="excel-table"
  [dataSource]="_tableData"
  class="mat-elevation-z8 app-table">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef rowspan="2">
      <div class="app-table-cell">
        No.
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="app-table-cell">
        {{element.position}}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef rowspan="2">
      <div class="app-table-cell">
        Запчасть
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="app-table-cell">
        {{element.name}}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="minPrice">
    <th mat-header-cell *matHeaderCellDef colspan="2">
      <div class="app-table-cell">
        Минимальная цена
      </div>
    </th>
  </ng-container>

  <ng-container matColumnDef="averagePrice">
    <th mat-header-cell *matHeaderCellDef colspan="2">
      <div class="app-table-cell">
        Средняя цена
      </div>
    </th>
  </ng-container>

  <ng-container matColumnDef="maxPrice">
    <th mat-header-cell *matHeaderCellDef colspan="2">
      <div class="app-table-cell">
        Максимальная цена
      </div>
    </th>
  </ng-container>

  <ng-container matColumnDef="secondHandMinPrice">
    <th mat-header-cell *matHeaderCellDef>
      <div class="app-table-cell">
        б/у
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="app-table-cell">
        {{(element.secondHandMinPrice ? (element.secondHandMinPrice | currency: "USD": "symbol": "1.2-2") : "Не найдено")}}

        <mat-icon
          *ngIf="element.secondHandMinPriceImages?.length"
          matBadge="{{element.secondHandMinPriceImages.length}}"
          matBadgePosition="before"
          matBadgeColor="warn"
          (click)="_openImageViewer(element.secondHandMinPriceImages)"
        >image_search
        </mat-icon>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="newMinPrice">
    <th mat-header-cell *matHeaderCellDef>
      <div class="app-table-cell">
        новая
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="app-table-cell">
        {{(element.newMinPrice ? (element.newMinPrice | currency: "USD": "symbol": "1.2-2") : "Не найдено")}}

        <mat-icon
          *ngIf="element.newMinPriceImages?.length"
          matBadge="{{element.newMinPriceImages.length}}"
          matBadgePosition="before"
          matBadgeColor="warn"
          (click)="_openImageViewer(element.newMinPriceImages)"
        >image_search
        </mat-icon>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="secondHandAveragePrice">
    <th mat-header-cell *matHeaderCellDef>
      <div class="app-table-cell">
        б/у
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="app-table-cell">
        {{(element.secondHandAveragePrice ? (element.secondHandAveragePrice | currency: "USD": "symbol": "1.2-2") : "Не найдено")}}

        <mat-icon
          *ngIf="element.secondHandAveragePriceImages?.length"
          matBadge="{{element.secondHandAveragePriceImages.length}}"
          matBadgePosition="before"
          matBadgeColor="warn"
          (click)="_openImageViewer(element.secondHandAveragePriceImages)"
        >image_search
        </mat-icon>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="newAveragePrice">
    <th mat-header-cell *matHeaderCellDef>
      <div class="app-table-cell">
        новая
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="app-table-cell">
        {{(element.newAveragePrice ? (element.newAveragePrice | currency: "USD": "symbol": "1.2-2") : "Не найдено")}}

        <mat-icon
          *ngIf="element.newAveragePriceImages?.length"
          matBadge="{{element.newAveragePriceImages.length}}"
          matBadgePosition="before"
          matBadgeColor="warn"
          (click)="_openImageViewer(element.newAveragePriceImages)"
        >image_search
        </mat-icon>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="secondHandMaxPrice">
    <th mat-header-cell *matHeaderCellDef>
      <div class="app-table-cell">
        б/у
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="app-table-cell">
        {{(element.secondHandMaxPrice ? (element.secondHandMaxPrice | currency: "USD": "symbol": "1.2-2") : "Не найдено")}}

        <mat-icon
          *ngIf="element.secondHandMaxPriceImages?.length"
          matBadge="{{element.secondHandMaxPriceImages.length}}"
          matBadgePosition="before"
          matBadgeColor="warn"
          (click)="_openImageViewer(element.secondHandMaxPriceImages)"
        >image_search
        </mat-icon>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="newMaxPrice">
    <th mat-header-cell *matHeaderCellDef>
      <div class="app-table-cell">
        новая
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="app-table-cell">
        {{(element.newMaxPrice ? (element.newMaxPrice | currency: "USD": "symbol": "1.2-2") : "Не найдено")}}

        <mat-icon
          *ngIf="element.newMaxPriceImages?.length"
          matBadge="{{element.newMaxPriceImages.length}}"
          matBadgePosition="before"
          matBadgeColor="warn"
          (click)="_openImageViewer(element.newMaxPriceImages)"
        >image_search
        </mat-icon>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['position', 'name', 'minPrice', 'averagePrice', 'maxPrice']"></tr>
  <tr mat-header-row
      *matHeaderRowDef="['secondHandMinPrice', 'newMinPrice', 'secondHandAveragePrice', 'newAveragePrice', 'secondHandMaxPrice', 'newMaxPrice']"></tr>
  <tr mat-row
      *matRowDef="let row; columns: ['position', 'name', 'secondHandMinPrice', 'newMinPrice', 'secondHandAveragePrice', 'newAveragePrice', 'secondHandMaxPrice', 'newMaxPrice'];"></tr>
</table>

<mat-progress-bar
  *ngIf="_loadingInProgress"
  mode="indeterminate"
></mat-progress-bar>

<image-viewer
  *ngIf="_viewerImages?.length"
  class="app-viewer"
  [images]="_viewerImages"
  (closeClick)="_closeImageViewer()"
></image-viewer>
